source/*.cpp linguist-language=C++
source/*.h linguist-language=C++
source/*.SCR linguist-generated
source/*.ico binary
soucre/*.bmp binary
source/*.rc linguist-language=C++
Source/*.NMK linguist-language=C++
source/*.FRT linguist-documentation
document/** linguist-documentation
