// haScreensav - Screensaver for windows 10, 11, ...
// haScreensav.rc - C++ Developer source file.
// (c)2025 by helmut altmann

// This program is free software; you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation; either version 2 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; see the file COPYING.  If not, write to
// the Free Software Foundation, Inc., 59 Temple Place - Suite 330,
// Boston, MA 02111-1307, USA.

////////////////////////////////////////////////////////////////////////////////
//
//               Screensaver Configuration Setup Dialog Menu
//
// Most screen savers provide a configuration dialog box 
//  to let the user specify customization data
//  such as unique colors, drawing speeds, line thickness, fonts, and so on.
//  To support the configuration dialog box, 
//  the application must provide a dialog box template
//  and must also support the ScreenSaverConfigureDialog function.
//  Following is the dialog box template for the sample application.
//
#include "windows.h"
#include "hascreensav.h"

ID_BE_SEEING_YOU  BITMAP "haScrBeSeeingYou.bmp" // Image for haScreensav menu dialog
IDI_BE_SEEING_YOU ICON   "beSeeingYou32x32.ico" // Program Symbol Icon (dialog boxes)
IDI_HASCRABOUT    ICON   "beSeeingYou16x16.ico" // Program Symbol Icon (Title icon)

// Provide the application name and the inifile name in the .rc file. 
// So that these names can be retrieved by the LoadString(,IDS_..,) function.
STRINGTABLE
BEGIN
  IDS_APPNAME, "haScrSav"       // Needed to init settings
  IDS_INIFILE, "haScrSav.ini"   // Phantom ini-file (.SCR handles it obscurely)
END

// Window position & SIze on screen (X, Y, Wdth, Hght)
DLG_SCRNSAVECONFIGURE DIALOG 200, 200, 7+55+164, 100 
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "  haScreenSaver Setup"
FONT 8, "MS Shell Dlg"
BEGIN
    // Show a BMP bitmap at left side within the dialog menu 
    CONTROL         ID_BE_SEEING_YOU, ID_BE_SEEING_YOU, "Static",
                    SS_BITMAP | SS_CENTERIMAGE | SS_REALSIZEIMAGE,
                    7, 9, 38, 36
    // Define the dialog menu     ID              X              Y   Wdth Hght
    GROUPBOX      "Redraw Speed", ID_GRPBOX,       7+55,          6, 106, 40
    LTEXT         "Fast",         ID_TXTFAST,      7+55+6,       21,  20,  8
    LTEXT         "Slow",         ID_TXTSLOW,      7+55+6+78,    21,  20,  8
    SCROLLBAR                     ID_SPEED,        7+55+6,       31,  96, 10
    PUSHBUTTON    "Font Color",   ID_FONTCOLOR,    7+172,        10,  40, 14
    PUSHBUTTON    "Font Type",    ID_FONTSIZE,     7+172,        32,  40, 14
    RADIOBUTTON   "Time display", ID_TIMEDISPLAY,  7,            50,  52, 14
    LTEXT         "",             ID_RESOLUTION,   7+55+6,       53, 106, 14  // optional
    PUSHBUTTON    "OK",           ID_OK,           7+172,        54,  40, 14
    PUSHBUTTON    "Cancel",       ID_CANCEL,       7+172,        76,  40, 14
    PUSHBUTTON    "Text File",    ID_TEXTFILE,     7,            76,  40, 14
    PUSHBUTTON    "Text Step",    ID_TEXTSTEP,     7+55,         76,  40, 14
END

////////////////////////////////////////////////////////////////////////////////
//
//                   Character Font Dropdown Menu
//
PopupMenu MENU 
BEGIN 
  POPUP "Dummy Popup" 
    BEGIN 
      POPUP "Font" 
        BEGIN 
          MENUITEM "Default GUI",     IDM_FONT_DFLT
          MENUITEM "Times New Roman", IDM_FONT_TIMESROMAN 
          MENUITEM "Courier New",     IDM_FONT_COURIER 
        END 
      POPUP "Size" 
        BEGIN 
          MENUITEM "10",  IDM_FONTSIZE_10 
          MENUITEM "12",  IDM_FONTSIZE_12 
          MENUITEM "14",  IDM_FONTSIZE_14 
          MENUITEM "16",  IDM_FONTSIZE_16 
          MENUITEM "18",  IDM_FONTSIZE_18 
        END 
      POPUP "Style" 
        BEGIN 
          MENUITEM "Standard",    IDM_FONTSTYLE_STANDARD 
          MENUITEM "Italic",      IDM_FONTSTYLE_ITALIC 
          MENUITEM "Bold",        IDM_FONTSTYLE_BOLD 
        END 
    END 
END

//------------------------------------------------------------------------------






                                               
                                               